.header--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--style {
    color: #971b1b;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.cm-font-style{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.cm-text-align {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cm-border-style {
    border: solid 1px #111;
}

main {
    padding: 10px;
}

pre {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    font-family: Consolas, monospace;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 800px;
    overflow-x: auto;
}

.error {
    color: red;
    font-weight: bold;
}

/**
Sanbox 1
*/
.sb1 .sb_header {
    padding: 10px;

}

.sb1 .sb_body {
    display: flex;
    flex-direction: row;
}

.sb1 .sb_title {
    color: rgb(59, 89, 226);
}

.sb1 h2 {
    margin-left: 15px;
}

.sb1 button {
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
    margin: 20px 0px 0px 20px;
}

/**
Sanbox 2
*/
.sb2 {
    margin-top: 20px;
}

.sb2 .sb_header {
    padding: 10px;
}

.sb2 .sb_body {
    display: flex;
    flex-direction: row;
}

.sb2 .sb_title {
    color: rgb(59, 89, 226);
}

.sb2 h2 {
    margin-left: 15px;
}

.sb2 button {
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
    margin: 20px 0px 0px 20px;
}

/**
Sanbox 3
*/
.sb3 {
    margin-top: 20px;
}

.sb3 .sb_header {
    padding: 10px;
}

.sb3 .sb_body {
    display: flex;
    flex-direction: row;
}

.sb3 .sb_title {
    color: rgb(59, 89, 226);
}

.sb3 h2 {
    margin-left: 15px;
}

.sb3 button {
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
}

.sb3 .getButton {
    margin: 20px 20px 20px 20px;
}

.sb3 .collButton {
    margin: 20px 0px 0px 0px;
}

/**
Sanbox 4
*/
.sb4 {
    margin-top: 20px;
}

    .sb4 .sb_header {
        padding: 10px;
    }

    .sb4 .sb_body {
        display: flex;
        flex-direction: row;
    }

    .sb4 .sb_title {
        color: rgb(59, 89, 226);
    }

    .sb4 h2 {
        margin-left: 15px;
    }

    .sb4 button {
        height: 25px;
        padding: 0 10px;
        font-size: 14px;
    }

    .sb4 .getButton {
        margin: 20px 20px 20px 20px;
    }