body {
    /* Add background image for html page */
    /*background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/123740332/original/934af649631a2dc8730f0b63cfed1e63908b6f08/create-anime-background-style.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #F7F5EB;

    /* Change text color for html page */
    /*color: #F5EAEA;*/
}

.header--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--style {
    color: #E90064;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.cm-font-style {
    color: #E96479;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.cm-text-align {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cm-border-style {
    border: solid 1px #111;
}

main {
    padding: 30px;
}

/**
API response
*/
pre {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    font-family: Consolas, monospace;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 800px;
    overflow-x: auto;
}

/**
API error
*/
.error {
    color: red;
    font-weight: bold;
}

/**
table
*/
table {
    border-collapse: collapse;
    border: 2px solid blue;
}

.cm-table-style {
    margin: 0px 0px 10px 10px;
}

/**
Common GET button
*/
.getButton {
    margin: 20px 20px 20px 20px;
}

.collButton {
    margin: 20px 0px 0px 0px;
}

/*
    COMMON
*/
.sb_title {
    color: #6C00FF;
}

.sb_header {
    padding: 10px;
}

.sb_body {
    display: flex;
    flex-direction: row;
}

button {
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
    margin: 20px 0px 0px 20px;
}

article {
    padding: 20px 0px 0px 0px;
}

/**
Sanbox 1
*/
.sb1 h2 {
    margin-left: 15px;
}

/**
Sanbox 2
*/

.sb2 h2 {
    margin-left: 15px;
}

/**
Sanbox 3
*/

.sb3 h2 {
    margin-left: 15px;
}

/**
Sanbox 4
*/
.sb4 h2 {
    margin-left: 15px;
}

/**
Sanbox 5
*/
.sb5 h2 {
    margin-left: 15px;
}